// ==========================================================================
// Collapsed
// ==========================================================================

.is-collapsed-mobile {
	@include mq(small) {
		height: 0;
		line-height: 0;
		margin: 0;
		padding: 0;
		visibility: collapse;
	}
}