// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	@include bg-colors($ui-colors);
}

[class^="btn--"] {
	@extend %center-align;
	@extend %btn;
	margin-bottom: em(20px, 14px);

	@include mq(small) {
		width: 100%;
	}

	@include mq(medium) {
		@include doubly(20px);
		display: inline-block;
		width: auto;
	}
}


//@extend-elements
//original selectors
//.btn-mod, a.btn-mod
%button-extend-1 {
	background: $color-log-cabin-90;
	border: 2px solid transparent;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: $white;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 2px;
	padding: 4px 13px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

//original selectors
//.btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus
%button-extend-2 {
	background: $black-70;
	border-color: transparent;
	box-shadow: none;
	color: $white-85;
	font-weight: 400;
	outline: none;
	text-decoration: none;
}

//original selectors
//.btn-mod.btn-border:hover, .btn-mod.btn-border:focus
%button-extend-3 {
	background: $black;
	border-color: transparent;
	color: $white;
}

//original selectors
//.btn-mod.btn-border-c:hover, .btn-mod.btn-border-c:focus
%button-extend-4 {
	background: $color-alizarin-crimson;
	border-color: transparent;
	color: $white;
}

//original selectors
//.btn-mod.btn-border-w:hover, .btn-mod.btn-border-w:focus
%button-extend-5 {
	background: $white;
	border-color: transparent;
	color: $color-woodsmoke;
}

//original selectors
//.btn-mod.btn-color:hover, .btn-mod.btn-color:focus
%button-extend-6 {
	background: $color-alizarin-crimson;
	color: $white;
	opacity: .85;
}


.btn-mod {
	@extend %button-extend-1;

	&:hover {
		@extend %button-extend-2;
	}

	&:focus {
		@extend %button-extend-2;
	}

	&:active {
		cursor: pointer;
		outline: none;
	}

	&.btn-small {
		font-size: 11px;
		height: auto;
		letter-spacing: 1px;
		padding: 6px 17px;
	}

	&.btn-medium {
		font-size: 12px;
		height: auto;
		padding: 8px 37px;
	}

	&.btn-large {
		font-size: 13px;
		height: auto;
		padding: 12px 45px;
	}

	&.btn-glass {
		background: $black-40;
		color: $white-75;

		&:hover,
		&:focus {
			background: $black;
			color: $white;
		}
	}

	&.btn-border {
		background: transparent;
		border: 2px solid $color-bunker;
		color: $color-bunker;

		&:hover,
		&:focus {
			@extend %button-extend-3;
		}
	}

	&.btn-border-c {
		background: transparent;
		border: 2px solid $color-alizarin-crimson;
		color: $color-alizarin-crimson;

		&:hover {
			@extend %button-extend-4;
		}

		&:focus {
			@extend %button-extend-4;
		}
	}

	&.btn-border-w {
		background: transparent;
		border: 2px solid $white-75;
		color: $white;

		&:hover {
			@extend %button-extend-5;
		}

		&:focus {
			@extend %button-extend-5;
		}
	}

	&.btn-w {
		background: $white-80;
		color: $color-woodsmoke;

		&:hover,
		&:focus {
			background: $white;
			color: $color-woodsmoke;
		}
	}

	&.btn-w-color {
		background: $white;
		color: $color-alizarin-crimson;

		&:hover,
		&:focus {
			background: $white;
			color: $color-bunker;
		}
	}

	&.btn-gray {
		background: $mercury;
		color: $color-tapa;

		&:hover,
		&:focus {
			background: $color-quill-gray;
			color: $color-tundora;
		}
	}

	&.btn-color {
		background: $color-alizarin-crimson;
		color: $white;

		&:hover,
		&:focus {
			@extend %button-extend-6;
		}
	}

	&.btn-circle {
		border-radius: 30px;
	}

	&.btn-round {
		border-radius: 2px;
	}
}

.btn-icon {
	border: 0;
	overflow: hidden;
	position: relative;

	&.btn-small {
		overflow: hidden;
	}

	>span {
		color: $color-tapa;
		font-size: 48px;
		height: 50px;
		left: 0;
		line-height: 50px;
		margin-top: -25px;
		opacity: .2;
		position: absolute;
		top: 50%;
		transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
		width: 100%;

		&.white {
			color: $white;
		}

		&.black {
			color: $black;
		}
	}

	&:hover>span {
		opacity: 0;
		transform: scale(2);
	}
}

.btn-full {
	width: 100%;
}

a {
	&.btn-mod {
		@extend %button-extend-1;

		&:hover,
		&:focus {
			@extend %button-extend-2;
		}
	}
}