// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items

%nav-item-horz {
	@include mq(medium) {
		display: inline-block;
		margin: 0 em(12px);
	}
}

%nav-item-link {
	border-bottom: 1px solid transparent;
	display: block;
	font-size: em(18px);
	font-weight: $font-weight--light;
	padding: em(8px, 18px);
	text-align: center;

	@include mq(small) {
		border-bottom-color: palette(grey, xx-light);
		padding-bottom: em(14px, 18px);
		padding-top: em(14px, 18px);
	}
}

%nav-item-on {
	border-color: $color-primary;
	color: palette(black);
}

// Headlines

%hdln-prim {
	color: palette(grey, x-dark);
	font-size: em(42px);
	font-weight: $font-weight--light;
	line-height: (46px/42px);
	margin-top: 0;
}

%hdln-sec {
	color: palette(grey, light);
	font-family: $font-family--secondary;
	font-size: em(24px);
	font-weight: $font-weight--thin;
	letter-spacing: $letter-space;
}

// Buttons

%btn {
	border: 0;
	border-radius: $br--default;
	color: $white;
	display: block;
	font-size: em(14px);
	font-weight: $font-weight--medium;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: opacity $trns-duration;

	&:hover {
		opacity: .75;
	}

	&:active {
		opacity: initial;
	}
}

// Icons

%icn--ui {
	cursor: pointer;
	line-height: 0;
}



// Separator

.separator {
	margin: 0 5px;
}