.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select {
	border: 1px solid rgba($black, .1);
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: $color-tapa;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	height: 27px;
	letter-spacing: 1px;
	padding-left: 7px;
	padding-right: 7px;
	text-transform: uppercase;
	transition: all 0.2s cubic-bezier(0, 0, 0.580, 1);
	vertical-align: middle;

	&:hover {
		border-color: rgba($black, .2);
	}

	&:focus {
		border-color: rgba($black, .7);
		box-shadow: 0 0 3px rgba($black, .3);
		color: $color-woodsmoke;
		outline: none;
	}

	&.input-lg {
		font-size: 13px;
		height: 46px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&.input-md {
		font-size: 12px;
		height: 37px;
		padding-left: 13px;
		padding-right: 13px;
	}

	&.input-sm {
		height: 31px;
		padding-left: 10px;
		padding-right: 10px;
	}

}

.form {

	&-tip {
		color: $color-silver-chalice;
		font-size: 11px;

		.fa {
			font-size: 12px;
		}
	}


	select {
		font-size: 12px;

		&[multiple] {
			height: auto;
		}
	}

	textarea {
		border-color: rgba($black, .1);
		border-radius: 0;
		box-shadow: none;
		color: $color-tapa;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 1px;
		outline: none;
		text-transform: uppercase !important;

		&:hover {
			border-color: rgba($black, .2);
		}

		&:focus {
			border-color: rgba($black, .7);
			box-shadow: 0 0 3px rgba(21, 21, 21, .3);
			color: $color-woodsmoke;
		}
	}

	.form-group {
		margin-bottom: 10px;
	}

	input {
		&.error {
			border-color: $color-alizarin-crimson;
		}

	}

	div {
		&.error {
			background: rgba($color-alizarin-crimson, .75);
			color: $white;
			margin-top: 20px;
			padding: 13px 20px;
			text-align: center;
		}

		&.success {
			background: rgba(50, 178, 95, .75);
			color: $white;
			margin-top: 20px;
			padding: 13px 20px;
			text-align: center;
		}
	}
}