// ==========================================================================
// Navbar
// ==========================================================================

.navbar-collapse {
	border-bottom: 1px solid $color-cool-grey;
	padding-left: 0 !important;
}

.navbar {
	color: $color-oslo-gray;
	font-family: $font-family--primary;
	font-size: em(14px);
	letter-spacing: 2px;
	position: relative;
	text-transform: uppercase;
}

.nav>li>a {
	background: transparent !important;
	border-bottom: 2px solid $white;
	padding: 15px 24px 16px 22px;
	text-shadow: none;

	@include mq(medium) {
		background: url("../img/menu-divider.png") right center no-repeat !important;
	}
}

.nav>li.active>a,
.nav>li>a:hover {
	border-bottom: 2px solid $color-accent !important;
	box-shadow: rgba($black, 0) 0 0 0 !important;
	color: $color-accent !important;
}

.navbar-default {
	background-color: transparent;
	border: 0;
}

.navbar-brand {
	height: auto;
	margin-bottom: 0;
	max-width: 170px;
	padding-bottom: 20px;
	padding-top: 0;
	width: 100%;
}

.navbar-header {
	@include mq(small) {
		border-bottom: 1px solid $color-cool-grey;
		padding-bottom: 10px;
	}
}


// Search Widget


.search {
	@include m(wrap) {
		position: relative;
	}

	@include m(field) {
		box-sizing: border-box;
		height: 40px !important;
		width: 100% !important;
	}

	@include m(button) {
		background: transparent;
		border: 0;
		color: $color-star-dust;
		font-size: 14px;
		height: 40px;
		line-height: 38px;
		margin-top: -20px;
		outline: none;
		overflow: hidden;
		position: absolute;
		right: 1px;
		top: 20px;
		width: 42px;

		&:hover {
			color: $color-woodsmoke;

			+.search-field {
				border-color: $color-quill-gray;
			}
		}
	}
}